body {
    background: #fcfcfc;
    color: #333;
}

nav, footer {
    background: #f5f5f5;
    z-index: 1;
}
li {
    list-style: none;
}
a {
    color: #3b6aa7;
}
a:hover {
    text-decoration: underline;
}
object {
    padding: 1rem;
}

.heading, h1 {
    color: #6a5099;
}

.skill {
    background-color: #568cd3;
    color: #f5f5f5;
}

.skill p {
    position: absolute;
    padding-top: 5px;
}

.skill-grid {
    box-shadow: 0 0 5px rgb(207, 207, 207);
    border-radius: 5px;
    transition: all ease-in 0.5s;
}

.skill-grid:hover {
    box-shadow: 0 0 20px 5px rgb(207, 207, 207);
    transform: scale(1.01);
    /*  #bd2c00 #6cc644  */
}

.button_content__2muyb {
    background: #fdfdfd;
}
